@model IEnumerable<VirtualMagazine.Models.UnidadeDeMedida>
@{
    Layout="_LayoutAdmin";
}

<h2>Unidades de Medida</h2>
<hr/>
<a asp-action="NovaUnidadeDeMedida" asp-controller="Gestao" class="btn btn-success" >Criar nova unidade de medida</a>
<hr/> 
<script>
    $(document).ready( function () {
    $('#unidadeDeMedida').DataTable({
        "info" : false,
        "language" : {
        "lengthMenu": "Mostrando _MENU_registros por página",
        "zeroRecords": "Desculpa, nada encontrado",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Nenhum registro disponível",
        "search": "Buscar:",
        "paginate": {
            "first":     "Primeiro",
            "last":     "Último",
            "next":     "Próximo",
            "previous":   "Anterior"
            }
        }  
    });
} );
</script>

<table id="unidadeDeMedida"class="table table-striped table-bordered"> 
    <thead>
    <tr>
        <th>Id</th>
        <th>Unidade de medida</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var unidadeDeMedida in Model){
            <tr>
                
                <td>@unidadeDeMedida.Id</td>
                <td>@unidadeDeMedida.Nome</td>
                
                <td>
                <a class="btn btn-primary" href="/Gestao/EditarUnidadeDeMedida/@unidadeDeMedida.Id">Editar</a>

                <form asp-action="Deletar" asp-controller="UnidadeDeMedidas" style="display: inline;">
                    <input type="hidden" name="id" id="Id" value="@unidadeDeMedida.Id" /> 
                    <button class="btn btn-danger" >Deletar</button> 
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>